{
    "recommendations": [
        "jdinhlife.gruvbox",
        "PKief.material-icon-theme",
        "eamodio.gitlens",
        "esbenp.prettier-vscode",
        "ms-vscode.vscode-eslint",
        "bradlc.vscode-tailwindcss",
        "ms-python.python",
        "ms-vscode.vscode-typescript-next",
        "ms-vscode.vscode-json",
        "redhat.vscode-yaml",
        "ms-vscode-remote.remote-ssh",
        "ms-vscode-remote.remote-containers",
        "ms-vscode-remote.remote-wsl",
        "formulahendry.auto-rename-tag",
        "christian-kohler.path-intellisense",
        "ms-vsliveshare.vsliveshare",
        "github.copilot",
        "ms-vscode.theme-gruvboxplus"
    ]
}